<style>.bx-dump {
	/* Color Pallet Tokens */
	--bx-neon-blue-40: #00a4bf;
	--bx-neon-blue-50: #00dbff;
	--bx-neon-blue-80: #bff6ff;
	--bx-blue-gray-10: #050609;
	--bx-blue-gray-70: #8D8E95;
	--bx-blue-gray-95: #F2F2F3;
	--bx-neon-green-40: #00bf5a;
	--bx-neon-green-50: #00ff78;
	--bx-neon-green-80: #bfffdd;
	--bx-neon-lime-40: #8fbf29;
	--bx-neon-lime-50: #bfff36;
	--bx-neon-lime-80: #efffcd;
	--bx-neon-orange-40: #bf7a2a;
	--bx-neon-orange-50: #ffa338;
	--bx-neon-orange-80: #ffe8cd;

	/* Color Aliases Tokens */
	--bx-color-surface: #ffffff;
	--bx-color-onSurface: var(--bx-blue-gray-10);
	--bx-color-primary: var(--bx-neon-green-50);
	--bx-color-primary-strong: var(--bx-neon-green-40);
	--bx-color-primary-weak: var(--bx-neon-green-80);
	--bx-color-onPrimary: var(--bx-blue-gray-10);
	--bx-color-secondary: var(--bx-neon-blue-50);
	--bx-color-secondary-strong: var(--bx-neon-blue-40);
	--bx-color-secondary-weak: var(--bx-neon-blue-80);
	--bx-color-onSecondary: var(--bx-blue-gray-10);
	--bx-color-tertiary: var(--bx-neon-lime-50);
	--bx-color-tertiary-strong: var(--bx-neon-lime-40);
	--bx-color-tertiary-weak: var(--bx-neon-lime-80);
	--bx-color-onTertiary: var(--bx-blue-gray-10);
	--bx-color-warning: var(--bx-neon-orange-50);
	--bx-color-warning-strong: var(--bx-neon-orange-40);
	--bx-color-warning-weak: var(--bx-neon-orange-80);
	--bx-color-onWarning: var(--bx-blue-gray-10);

	/* Text Tokens */
	--bx-font-family-sans-serif: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif;

	/* Icon Tokens */
	--bx-icon-chevron: url(\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(0, 0, 0)' stroke-width=' 2' stroke-linecap=' round' stroke-linejoin=' round'%3E%3Cpolyline points=' 6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E\");

		--bx-table-bg: var(--bx-color-surface);
	--bx-table-color: var(--bx-color-onSurface);

	font-family: var(--bx-font-family-sans-serif);
}

@media (prefers-color-scheme: dark) {
	.bx-dump {
		--bx-color-surface: var(--bx-blue-gray-10);
		--bx-color-onSurface: var(--bx-blue-gray-95);
	}
}

.bx-dump table {
	border-collapse: collapse;
	border-spacing: 0;
	text-indent: 0;
	border: 1px solid #666;
}

.bx-dump table> :not(caption)>*>* {
	border-width: 0 1px 1px;
}

.bx-dump caption,
.bx-dump td,
.bx-dump th {
	border-color: inherit;
	border-style: solid;
	color: var(--bx-table-color);
	padding: 4px;
}

.bx-dump caption {
	caption-side: top;
	white-space: nowrap;
}

.bx-dump caption[role=button] {
	cursor: pointer;
	filter: contrast(0.9);
	padding-left: 1.45rem;
	position: relative;
}

.bx-dump caption[role=button]:hover {
	filter: contrast(1);
}

.bx-dump caption[role=button][open] {
	filter: contrast(1);
}

.bx-dump caption[role=button][open]:hover,
.bx-dump caption[role=button][open]:focus {
	filter: contrast(0.9);
}

.bx-dump caption[role=button][open]:before {
	transform: rotate(0);
}

.bx-dump caption[role=button]:before {
	height: 1.2rem;
	width: 1.2rem;
	position: absolute;
	left: .25rem;
	transform: rotate(-90deg);
	background-image: var(--bx-icon-chevron);
	background-position: right center;
	background-size: 1.2em auto;
	background-repeat: no-repeat;
	content: \"\";
	transition: transform .2s ease-in-out;
}

.bx-dump table th {
	text-align: left;
}

.bx-dump table th[scope="row"] {
	font-weight: 400;
}

.bx-dump caption.bx-dhAy,
.bx-dump thead th.bx-dhAy {
	background-color: var(--bx-color-secondary);
	color: var(--bx-color-onSecondary);
}

.bx-dump table th,
.bx-dump tbody th.bx-dhAy[scope="row"] {
	background-color: var(--bx-color-secondary-weak);
	color: var(--bx-color-onSecondary);
}

.bx-dump tbody td {
	background-color: var(--bx-table-bg);
	color: var(--bx-table-color);
}

.bx-dump .bx-tableCs {
	border-color: var(--bx-color-tertiary-strong)
}

.bx-dump .bx-tableAy {
	border-color: var(--bx-color-secondary-strong)
}

.bx-dump .bx-tableSt {
	border-color: var(--bx-color-primary-strong)
}

.bx-dump caption.bx-dhCs,
.bx-dump thead th.bx-dhCs {
	background-color: var(--bx-color-tertiary);
	color: var(--bx-color-onTertiary);
}

.bx-dump tbody th.bx-dhCs[scope="row"] {
	background-color: var(--bx-color-tertiary-weak);
	color: var(--bx-color-onTertiary);
}

.bx-dump caption.bx-dhSt,
.bx-dump thead th.bx-dhSt {
	background-color: var(--bx-color-primary);
	color: var(--bx-color-onPrimary);
}

.bx-dump tbody th.bx-dhSt[scope="row"] {
	background-color: var(--bx-color-primary-weak);
	color: var(--bx-color-onPrimary);
}

.bx-dump .bx-dwSv {
	border: 1px solid var(--bx-color-warning-strong);
	display: inline-flex;
}

.bx-dump .bx-dwSv span {
	padding: 4px;
}

.bx-dump table .bx-dwSv {
	display: inline;
	border: none;
}

.bx-dump .bx-dhSv {
	background-color: var(--bx-color-warning);
	color: var(--bx-color-onWarning);
}

.bx-dump table .bx-dhSv {
	background-color: transparent;
	color: var(--bx-color-onSurface);
}

.bx-dump .d-none {
	display: none;
}

</style>
