html, body {
    width: 100vw;
    height: 100vh;
    background: #555;
    margin: 0;
    color: #ddd;
    padding: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

#app {
    display: flex;
    height: 100%;
    margin: 0;
}

#side-panel {
    height: 100%;
    width: 200px;
    margin: 20px;
}

#display-panel{
    /* overflow: scroll; */
    flex: 1;
}

.node-hidden {
    display: none;
}

.node-hasSourceText {
    position: relative;
    text-decoration: underline;
    color: #00f;
    cursor: help;
  }

.file-list {
    list-style: none;
    margin: 0;
    padding: 0px;
}