name: Test Suites

on:
  workflow_call:
    inputs:
      compilers:
        required: false
        type: string
        default: '["java", "asm"]'
        description: 'JSON list of compilers to run'
    secrets:
      SLACK_WEBHOOK_URL:
        required: false

env:
  MODULE_ID: ${{ github.event.repository.name }}

jobs:
  tests:
    if: "!contains( github.event.head_commit.message, 'skip tests' )"
    name: "OS: ${{ matrix.os }}, Compiler: ${{ matrix.compiler }}, JDK: ${{ matrix.jdkProvider }} ${{ matrix.jdkVersion }}"
    runs-on: ${{ matrix.os }}
    env:
      DB_USER: root
      DB_PASSWORD: root
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        jdkProvider: ["temurin"]
        jdkVersion: ["21"]
        experimental: [false]
        compiler: ${{ fromJson(inputs.compilers) }}
        exclude:
          - os: windows-latest
            compiler: java
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set Docker API version
        run: echo "DOCKER_API_VERSION=1.44" >> $GITHUB_ENV

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: ${{ matrix.jdkProvider }}
          java-version: ${{ matrix.jdkVersion }}

      - name: Setup CommandBox CLI Linux
        if: ${{ matrix.os != 'windows-latest' }}
        uses: Ortus-Solutions/setup-commandbox@v2.0.1

      - name: Setup CommandBox CLI Windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: choco install commandbox

      - name: Install Testbox
        run: box install testbox@be src/test/resources --verbose --noSave

      - name: Install JDBC modules
        if: ${{ matrix.os != 'windows-latest' }}
        run: box install id=bx-mssql@be,bx-mysql,bx-oracle@be directory=~/.boxlang/modules --verbose --nosave

      - name: Setup MySQL Service
        if: ${{ matrix.os != 'windows-latest' }}
        uses: samin/mysql-action@v1.3
        with:
          host port: 3309
          mysql version: '8.0'
          mysql database: "myDB"
          mysql root password: "123456Password"

      - name: Setup MSSQL
        if: ${{ matrix.os != 'windows-latest' }}
        uses: rails-sqlserver/setup-mssql@v2
        with:
          components: sqlengine
          sa-password: "123456Password"
          version: 2022

      - name: Setup Oracle
        if: ${{ matrix.os != 'windows-latest' }}
        uses: gvenzl/setup-oracle-free@v1
        with:
          app-user: boxlang
          app-user-password: "123456Password"
          oracle-password: "123456Password"
          oracle-database: "XEPDB1"

      - name: Build Java Compiler JAR
        if: ${{ matrix.compiler == 'java' }}
        run: ./gradlew jarJavaCompiler --stacktrace --console=plain

      - name: Test BoxLang (ASM)
        if: ${{ matrix.compiler == 'asm' }}
        env:
          BOXLANG_COMPILER: ${{ matrix.compiler }}
        run: |
          ./gradlew :src:modules:test:build --stacktrace --console=plain
          ./gradlew test --stacktrace --console=plain

      - name: Test BoxLang (Java)
        if: ${{ matrix.compiler == 'java' }}
        env:
          BOXLANG_COMPILER: ${{ matrix.compiler }}
        run: |
          ./gradlew :src:modules:test:build --stacktrace --console=plain
          ./gradlew test --stacktrace --console=plain -PaddJavaCompiler=true

      - name: Publish Test Reports
        uses: mikepenz/action-junit-report@v6.3.0
        if: always()
        with:
          report_paths: |
            **/build/test-results/test/*.xml
            **/surefire-reports/*.xml
            **/failsafe-reports/*.xml
          check_name: "JUnit Report ${{ matrix.os }}-${{ matrix.jdkProvider }}-${{ matrix.jdkVersion }}-${{ matrix.compiler }}"
          include_passed: false
          fail_on_failure: true
          summary: "Test Results for ${{ matrix.os }} with ${{ matrix.compiler }} compiler on JDK ${{ matrix.jdkVersion }}"
          detailed_summary: true

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: tests-${{ matrix.os }}-${{ matrix.jdkProvider }}-${{ matrix.jdkVersion }}-${{ matrix.compiler }}
          path: |
            **/build/reports/tests/**
            **/build/test-results/**

      - name: Inform Slack
        if: ${{ !matrix.experimental && failure() && github.ref == 'refs/heads/development' }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: boxlang
          SLACK_COLOR: ${{ job.status }} # or a specific color like 'green' or '#ff00ff'
          SLACK_ICON_EMOJI: ":bell:"
          SLACK_MESSAGE: "${{ github.repository }} Tests FAILED!  You broke the build! :("
          SLACK_TITLE: "${{ github.repository }} Build Failure"
          SLACK_USERNAME: CI
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          MSG_MINIMAL: true
