name: Test Suites

# We are a reusable Workflow only
on:
  workflow_call:
    secrets:
      SLACK_WEBHOOK_URL:
        required: false

env:
  MODULE_ID: ${{ github.event.repository.name }}

jobs:
  tests:
    if: "!contains(github.event.head_commit.message, 'skip tests')"
    name: "OS: ${{ matrix.os }}, Compiler: ${{ matrix.compiler }}, Exp: ${{ matrix.experimental }}"
    runs-on: ${{ matrix.os }}
    env:
      DB_USER: root
      DB_PASSWORD: root
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
        jdkVersion: ["21"]
        experimental: [false]
        compiler: ["java", "asm"]
        # include:
        #   - jdkVersion: "22"
        #     os: "ubuntu-latest"
        #     compiler: "asm"
        #     experimental: true
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: ${{ matrix.jdkVersion }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: "8.7"

      # - name: Setup Database and Fixtures
      #   run: |
      #     sudo systemctl start mysql.service
      #     mysql -u${{ env.DB_USER }} -p${{ env.DB_PASSWORD }} -e 'CREATE DATABASE mementifier;'
      #     mysql -u${{ env.DB_USER }} -p${{ env.DB_PASSWORD }} < test-harness/tests/resources/coolblog.sql

      #- name: Setup CommandBox CLI
      #  uses: Ortus-Solutions/setup-commandbox@v2.0.1

      # Not Needed in this module
      #- name: Setup Environment For Testing Process
      #  run: |
      #    # Setup .env
      #    touch .env
      #    # ENV
      #    printf "DB_HOST=localhost\n" >> .env
      #    printf "DB_DATABASE=mydatabase\n" >> .env
      #    printf "DB_DRIVER=MySQL\n" >> .env
      #    printf "DB_USER=${{ env.DB_USER }}\n" >> .env
      #    printf "DB_PASSWORD=${{ env.DB_PASSWORD }}\n" >> .env
      #    printf "DB_CLASS=com.mysql.cj.jdbc.Driver\n" >> .env
      #    printf "DB_BUNDLEVERSION=8.0.19\n" >> .env
      #    printf "DB_BUNDLENAME=com.mysql.cj\n" >> .env

      - name: Test Module
        run: |
          gradle :src:modules:test:build "-Dboxlang.experimental.compiler=${{ matrix.compiler }}" --stacktrace --console=plain
          gradle test "-Dboxlang.experimental.compiler=${{ matrix.compiler }}" --stacktrace --console=plain

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: tests-${{ matrix.os }}-${{ matrix.jdkVersion }}-${{ matrix.compiler }}
          path: |
            **/build/reports/tests/**
            **/build/test-results/**

      - name: Inform Slack
        if: ${{ !matrix.experimental && failure() && github.ref == 'refs/heads/development' }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: boxlang
          SLACK_COLOR: ${{ job.status }} # or a specific color like 'green' or '#ff00ff'
          SLACK_ICON_EMOJI: ":bell:"
          SLACK_MESSAGE: "${{ github.repository }} Tests FAILED!  You broke the build! :("
          SLACK_TITLE: "${{ github.repository }} Build Failure"
          SLACK_USERNAME: CI
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}

  publish-test-results:
    name: Publish Test Results
    runs-on: ubuntu-latest
    needs: tests
    if: always()
    permissions:
      checks: write
      pull-requests: write
      contents: read
      issues: read
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: |
            artifacts/**/*.xml
